<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Course Form</title>
    <link rel="stylesheet" href="">
    <style type="text/css" media="screen">
        form  { display: table;      }
        label { display: table-cell; }
        input { display: table-cell; }
    </style>
</head>
<body>
    <h1>Complete the form below to MODIFY the course:</h1> 

     <form action="." method="POST">
        {% csrf_token %}
         <!-- {{ form }} -->
        <div class="form-group">
          <label>Course Name </label>
          <input type="text" name="name" id="Course_Name">

        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" name="desc" id="desc" value="">
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="date" name="st_date" id="st_date" value="">
        </div>
        <div class="form-group">
          <label>End Date</label>
          <input type="date" name="end_date" id="end_date" value="">

        </div>
        <!-- {% csrf_token %} -->
        <button type="submit" class="btn btn-default" value="submit">Create</button>
    </form>

</body>
</html>